<button (click)="load_ttl(0)">load people</button>
<button (click)="load_ttl(1)">load data catalog</button>
<button (click)="showAllTriples()">show all triples</button>

<br/>
Breadcrumbs from landing:
<span *ngFor="let crumb of bread_crumbs">
  <span>
  <span *ngIf="crumb.direction==='IN'"><</span>
    -{{getShortValue(crumb.predicate)}}-
    <span *ngIf="crumb.direction==='OUT'">></span>
  </span>
  <button class="clickable" (click)="onNodeClick(crumb.node)">{{getShortValue(crumb.node)}}</button>
</span>
<br/>
Breadcrumbs history:
<span *ngFor="let crumb of bread_history">
  <span *ngIf="crumb.direction==='IN'"><</span>
  <span *ngIf="crumb.predicate">
    -{{getShortValue(crumb.predicate)}}-
  </span>
  <span *ngIf="!crumb.predicate">
    &nbsp;~&nbsp;
  </span>
  <span *ngIf="crumb.direction==='OUT'">></span>
  <button >{{getShortValue(crumb.node)}}</button>
</span>

<hr/>
<!--All triples in graph-->
<table border="1">
  <tr *ngFor="let triple of triples">
    <td (click)="onNodeClick(triple.subject)">{{triple.subject}}</td>
    <td >{{triple.predicate}}</td>
    <td (click)="onNodeClick(triple.object)">{{triple.object}}</td>
  </tr>
</table>

<table>
  <tr>
    <th>Incoming triples</th>
    <th>{{getPreviewForNode(current_node)}} (type: {{getTypeOrEmptyString(current_node)}})</th>
    <th>Outgoing triples</th>
  </tr>
  <tr>
    <td>
<!--      Incoming-->
      <table border="1">
        <tr *ngFor="let triple of incoming_triples">
          <td class='clickable'>
            <a *ngIf="triple.subject" (click)="onNodeClick(triple.subject, triple.predicate, 'IN')"
               title="{{triple.subject}}">
              {{getShortValue(triple.subject)}}
            </a>
            <span *ngFor="let subject of triple.subjects">
          <a (click)="onNodeClick(subject, triple.predicate, 'IN')" title="{{subject}}">
            {{getShortValue(subject)}},
          </a><br/>
        </span>
          </td>
          <td title="{{triple.predicate}}">{{getShortValue(triple.predicate)}}</td>
        </tr>
      </table>

    </td>
    <td>
<!--      Own-->
      {{current_node}}<br/>
      <table border="1">
        <tr *ngFor="let triple of own_triples">
          <td title="{{triple.predicate}}">{{getShortValue(triple.predicate)}}</td>
          <td>{{triple.object}}</td>
        </tr>
      </table>
    </td>
    <td>
<!--      Outgoing-->
      <table border="1">
        <tr *ngFor="let triple of outgoing_triples">
          <td title="{{triple.predicate}}">{{getShortValue(triple.predicate)}}</td>
          <td>
            <a class="clickable" *ngIf="triple.object" (click)="onNodeClick(triple.object, triple.predicate, 'OUT')"
               title="{{triple.object}}">
              {{getPreviewForNode(triple.object)}}
            </a>
            <span *ngFor="let object of triple.objects">
          <a class="clickable" (click)="onNodeClick(object, triple.predicate, 'OUT')"
             title="{{object}}">{{getPreviewForNode(object)}}</a>&nbsp;&nbsp;
        </span>
            <a *ngIf="triple.objects?.length > 3">(show all {{triple.objects.length}} objects)</a>
          </td>

        </tr>
      </table>

    </td>
  </tr>
</table>

<hr>
